body {
    background-color: #e3f0e8;
    font-family: 'Segoe UI', sans-serif;
    background-image: url('../assets/images/ilhaBahava.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* ou flex-start/center */
    align-items: flex-start;       /* alinhar ao topo */
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
}

.texto {
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
    color: #222;
}

.texto strong {
    color: #006400;
}

.cavaleiros {
    color: red;
    font-weight: bold;
}

.escudeiros {
    color: blue;
    font-weight: bold;
}

.normais {
    color: green;
    font-weight: bold;
}

.tipo.homem {
    color: #2a2aff;
    font-weight: bold;
}

.tipo.mulher {
    color: #ff69b4;
    font-weight: bold;
}

.civilizada {
    font-weight: bold;
    color: #5a5a5a;
}

.lei {
    font-style: italic;
    color: #8b0000;
    font-weight: bold;
}

img {
    width: 500px !important;
    max-width: 200% !important;
    height: auto;
    margin-top: 20px;
}

.personagem {
    position: fixed;
    bottom: 0;
          
    width: 300px !important;
    height:640px !important;         
    
    z-index: 0;
    pointer-events: none;
    opacity: 1;
}

.personagem-esquerda1 {
    left: 300px;
}


.personagem-esquerda2 {
    width: 240px !important;
    left: 600px;
}

.personagem-direita1 {
    right: 30px;
}


.personagem-direita2 {
    right: 30px;
}
.balao {
    position: fixed;
    max-width: 200px;
    padding: 10px;
    background: white;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
}

.balao-esquerda1 {
    left: 480px;
    bottom: 640px;
}

.balao-esquerda2 {
    left: 720px;
    bottom: 650px;
}

.balao-direita1 {
    right: 380px;
    bottom: 180px;
}

.balao-direita2 {
    right: 480px;
    bottom: 180px;
}

.balao::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
}

.balao-esquerda1::after {
    top: 100%;
    left: 20px;
    border-top-color: white;
}


.balao-esquerda2::after {
    top: 100%;
    left: 20px;
    border-top-color: white;
}

.balao-direita1::after {
    top: 100%;
    right: 20px;
    border-top-color: white;
}


.balao-direita2::after {
    top: 100%;
    right: 20px;
    border-top-color: white;
}


.botoes {
    text-align: left;
    margin-top: 20px;
}

.voltar {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007B55;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.voltar:hover {
    background-color: #005f40;
}
