body {
    text-align: center;
    background-color: #f4f4f4;
    cursor: url('../assets/images/balloon.png') 30 55, auto;
}

#map {
    width: 100%;
    height: 100%;
}

#svg-container {
    background-image: url("");
    background-size:cover;
    width: 70%;
    height: 70%;
}
    

#map-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.coordinates-box {
    margin-top: 10px;
    padding: 10px;
    background: #ddd;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

path.clickable-svg-element {
    cursor: pointer;
    cursor: url('../assets/images/balloon\ on\ hover.png') 30 55, auto;
    /*fill: rgba(255, 255, 0, 0.5); /* Cor amarela semi-transparente */
    transition: fill 0.1s;
}
.clickable-svg-element:hover {
    fill: rgba(115, 255, 0, 0.5); /* Muda para vermelho ao passar o mouse */
}

path#rios, path[fill='black'] {
    pointer-events: none;
}

/* Pop up para confirma sucesso ou não, nas respostas*/
.popup {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .popup-conteudo {
    background: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    max-width: 400px;
  }
  
  .popup-conteudo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .popup-conteudo button {
    padding: 8px 16px;
    background-color: #007B55;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
