/* Blocos arrastáveis */
.bloco {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background: lightblue;
    border: 2px solid #007B55;
    border-radius: 8px;
    cursor: grab;
    font-weight: bold;
  }
  
  /* Container dos blocos */
  #blocos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    max-width: 100%;
  }
  
  /* Slots dinâmicos */
  .slot {
    position: fixed;
    width: 140px;
    height: 45px;
    border: 2px dashed #333;
    background-color: #ffffffcc;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    z-index: 10;
  
    transform: translateX(-50%); /*  centraliza horizontalmente */
  }
  
  
  /* Botão de verificação */
  #verificar {
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #7b0006;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: none;
  }

  #popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.049);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  #popup-conteudo {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 20px rgba(15, 14, 14, 0.3);
    max-width: 300px;
    animation: popIn 0.3s ease;
  }
  
  #popup-imagem {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  
  #popup-mensagem {
    font-size: 38px;
    font-weight: bold;
    color: #ea0e0e;
  }
  
  #popup button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #4c05e3;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  @keyframes popIn {
    from { transform: scale(0.7); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
  }
  
  